/* reset parametri css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* classe clearfix per float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* centraggio container e dimensionamento larghezza (lunghezza varia in base a main) */
.container {
    width: 80vw;
    margin: 0 auto;
}
/* centraggio header + margine superiore */
header {
    height: 150px;
    background-color: yellow;
    margin-bottom: 10px;
}

.row {
    height: 500px;
}
/* stilizzazione e posizionamento menu laterali */
aside {
    width: 25%;
    height: 40%;
    background-color: violet;
    float: left;
}
/* creazione box e collocamento con float left, aggiunta margine 2% left e superiore */
main {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 10px;
 }

main .content {
    background-color: purple;
    height: 100%;
}

/* stilizzazione e posizionamento footer */
footer {
    height: 100px;
    background: lightblue;
    margin-top: 10px;
 }
